<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
  <title>Creating mathematical formulas</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{static_url ('ckeditor/ckeditor.js')}}"></script>
  <!-- <script src="{{static_url ('ckeditor/adapters/jquery.js')}}"></script> -->
</head>

<body>

    <textarea cols="10" id="editor1" name="editor1" rows="10" >&nbsp;Write the Question here!
    </textarea>

    <script>
    CKEDITOR.replace( 'editor1', {
          height: 300,

          // filebrowserImageBrowseUrl: "/find",

          // filebrowserImageUploadUrl: "/file"
    } );
    
    if ( CKEDITOR.env.ie && CKEDITOR.env.version == 8 ) {
        document.getElementById( 'ie8-warning' ).className = 'tip alert';
    }
    </script>

    {% block choices %}
    {% end block %}

</body>

</html>

