{% extends "index_hod.html" %}

{% block content %}
<div class="container-fluid">
  <br>
  <div class="row">
    <div class="dropdown col-sm-3 col-sm-offset-3">
      <select class="form-control">
        <option selected disabled>User</option>
        {% if users %}
          {% for user in users %}
          <option value="one">{{user.get('user_name', '')}}</option>
          {% end %}
        {% end %}
      </select>
    </div>
    <div class="dropdown col-sm-3">
      <select class="form-control">
        <option selected disabled>Chapter</option>
        {% if users %}
          {% for user in range(1,11) %}
          <option value="one">Chapter {{user}}</option>
          {% end %}
        {% end %}
      </select>
    </div>
  </div>
</div>
{% end %}
