<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{static_url('css/register.css')}}">
    <script type="text/javascript" src="{{static_url('scripts/main.js')}}"></script>
    <script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
</head>
<!--<div class="container">-->
    <!--<form action="add_user" method="post" id="registration_form">-->
        <!--<label><b>Email</b></label>-->
        <!--<input type="username" placeholder="Enter Email" name="email" required>-->

        <!--<label><b>Password</b></label>-->
        <!--<input type="password" placeholder="Enter Password" name="password" required>-->

        <!--<label><b>Name</b></label>-->
        <!--<input type="name" placeholder="Enter Username" name="name" required>-->

        <!--<label><b>Age</b></label>-->
        <!--<input type="age" placeholder="Enter Age" name="age" required>-->

        <!--<label><b>Assign a chapter</b></label>-->
        <!--<select id="chapters" name="chapter">-->
          <!--<option value="chapter_1">Chapter 1</option>-->
          <!--<option value="chapter_2">Chapter 2</option>-->
        <!--</select>-->
        <!--<br></br>-->

        <!--<button type="submit">Add User</button>-->

        <!--<div class="container" style="background-color:#f1f1f1">-->
          <!--<button type="button" class="cancelbtn">Cancel</button>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
    <div class="container">
            <form class="form-horizontal" role="form">
                <h2>Register User</h2>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="name" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="username" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="department" class="col-sm-3 control-label">Department</label>
                    <div class="col-sm-9">
                        <select id="department" class="form-control">
                            <option>English</option>
                            <option>Hindi</option>
                            <option>Physics</option>
                            <option>Chemistry</option>
                            <option>Biology</option>
                            <option>Maths</option>
                        </select>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
</html>
