{% extends "index_hod.html" %}

{% block content %}

{% if users %}
<h2 class="sub-header">Tasks</h2>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Users</th>
        <th>Tasks</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for user_name in users %}
    <tr>
        <td>{{user_name['user_name']}}</td>
        <td>{{user_name['chapter']}}</td>
        <td>{{user_name['user_email']}}</td>
    </tr>
    {% end %}
    </tbody>
  </table>
</div>
{% end %}
{% end %}