<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: Dashboard view for HOD.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: To show a msg if there is no chapter assigned. -->


{% extends "index_hod.html" %}

{% block content %}

<title>Dashboard</title>

{% if users %}
  <h2 class="sub-header">Tasks</h2>
  <div class="table-responsive">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Users</th>
          <th>Email</th>
          <th>Tasks</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      {% for user_name in users %}
      <tr>
          <td><a name="get_hash" href="javascript:void(0)" onClick="javascript:sendUserId('{{user_name.get('user_id', '')}}')">
            {{user_name.get('user_name', '')}}</a></td>
          <td>{{user_name.get('user_email', '')}}</td>
          <td>{{user_name.get('chapter', 'No chapter assigned')}}</td>
          <td>{{user_name.get('status', 'Unknown!')}}</td>
      </tr>
      {% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}
{% end %}
