<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: Dashboard view for users.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Now, the task status comes from the 'user_coll' collection. -->

{% extends "index_user.html" %}

{% block content %}

<title>Dashboard</title>

{% if 'tasks' in users.keys() %}
    <h2 class="sub-header">Your Tasks</h2>
    <div class="table-responsive">
    <table class="table table-striped">
    <thead>
      <tr>
          <th>Tasks</th>
          <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/editor">{{users['tasks'][-1]['chapter']}}</a></td>
        <td>{{users['tasks'][-1]['status']}}</td>
      </tr>
    </tbody>
    </table>
    </div>
{% else %}
  <p>You don't have any chapter assigned to you yet! Relax &nbsp;&nbsp;<span style="font-size: x-large;">🚬</span></p>
{% end %}
{% end %}
