<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{static_url('css/login.css')}}">
    <script type="text/javascript" src="{{static_url('scripts/main.js')}}"></script>
    <script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
</head>

	<title>User</title>
	<body>
		Hello {{user['user_name'].title()}}
		<br/>
		You're just another User

		{% if users %}
		<div class="container-fluid">
			<input type="button" name="answer" value="Show Task" onclick="showDiv()" />

			<div id="welcome" style="display:none;" class="row">
				<li> {{users}} </li>
			</div>
		</div>
		{% end %}

		<form action="editor" method="post">
    		<textarea name="editor1" cols="80" rows="10" id="content">HTML editor content.
                Textbox.io is the first WYSIWYG HTML editor designed for desktop and mobile devices. Its speech to enter content and enjoy effortless rich text editing from anywhere.
			</textarea>
	  	</form>
	  	<input type="submit">
	  	<script type="text/javascript">
		  	CKEDITOR.replace( 'editor1', {
	   // filebrowserBrowseUrl: '/browser/browse.php',
	    filebrowserUploadUrl: '/uploader/upload.php'
		});
	  	</script>
	  	

	</body>

</html>
