<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{static_url('css/login.css')}}">
    <script type="text/javascript" src="{{static_url('scripts/main.js')}}"></script>
</head>

	<title>HOD</title>
	<body>
		Hello {{user['name'].title()}}
		<br></br>
		You're the fuckin' HOD!
		<br></br>

		<form action="add_user" class="container" style="background-color:#f1f1f1">
          <button type="submit" class="cancelbtn">Add User</button>
        </form>

        {% if users %}
        <div class="container-fluid">
            <input type="button" name="answer" value="Show Users" onclick="showDiv()" />

            <div id="welcomeDiv" style="display:none;" class="row">

                <div class="col-md-4" style="background-color:lavender;">
                    <b>Users</b>
                    <hr>
                    {% for user_name in users %}
                        <li>{{user_name['user_name']}}</li>
                    {% end %}
                    <br>
                </div>
                <div class="col-md-4" style="background-color:lavenderblush;">
                    <b>Tasks</b>
                    <hr>
        	        {% for user_name in users %}
        	        	<li>{{user_name['chapter']}}</li>
        	        {% end %}
                    <br>
                </div>
                <div class="col-md-4" style="background-color:lavender;">
                    <b>Email ID</b>
                    <hr>
                    {% for user_name in users %}
                        <li>{{user_name['user_email']}}</li>
                    {% end %}
                    <br>
                </div>

            </div>
        </div>
        {% end %}
        <!-- <script type="text/javascript">
        	function showDiv() {
        		document.getElementById('welcomeDiv').style.display = "block";
        	}
        </script> -->
	</body>
</html>
