<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: Text editor for user to write content.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Added animation to text-area and buttons. -->
{% extends "index_hod.html" %}

{% block content %}

<title>Content Editor</title>
<form id="fkfrm" class=myFrom action="" method="post">
  {% if 'tasks' in content.keys() %}

    {% if content['tasks'][-1]['status'] in ['Completed', 'Unknown!'] %}
    <p>The task is {{content['tasks'][-1]['status']}} by the user.</p>
    <p>Assign a new task - <a href="/assign_task">Assign Task<a></p>

    {% elif content['tasks'][-1]['status'] in ['Pending', 're-assigned'] %}
    <p>The task is {{content['tasks'][-1]['status']}} by the user. This user is not available for 
      task assignment.</p>

    {% else %}
    <textarea class="myArea" id="myEditor" name="editor1" readonly>{{content['tasks'][-1]['content']}}</textarea>

    <textarea class="myArea" id="myEditor" name="get_chapter" style="display:none;">{{content['tasks'][-1]['chapter']}}</textarea>

    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
          <button id="animate" class="btn btn-secondary fa fa-repeat" type="submit" name='re-assign'
          value='{{user_id}}'> Re-assign</button>
        </div>
        <div class="col-sm-1 col-sm-push-1">
          <button id="disable" class="btn btn-primary fa fa-check" type="submit" name='complete'
          value='{{user_id}}'> Mark as Complete</button>
          <!-- <a href="javascript:void(0);" class="btn btn-primary fa fa-plane"
          name='final' value='final' > Final submission</a> -->
        </div>
      </div>
    </div>
    {% end %}

  {% else %}
  <p>Assign a new task - <a href="/assign_task">Assign Task<a></p>

  {% end %}
  
</form>
{% end %}
        <!-- TODO: making the textarea readonly after the final submission  -->
        <!-- /*<script>
