<!-- Author: Vasu Gaur
Date: 18/10/2016
Purpose: HTML view for uploading files, images and videos.

Revision:
	Author: Vasu Gaur
	Date: 20/10/2016
	Purpose: Improved button styles. -->

{% extends "index_user.html" %}

{% block content %}
<script>
function progressbar () {
  i = 1;
  window.setInterval(
    function(){
        i++;
        $('.progress-bar').css({ width : i + "%" });
    },
    200);
}
</script>
<body>
    <meta charset="UTF-8">
    <title>Media Upload</title>
    <div class="container" style="width: 90%">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="filearg" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit" onClick="javascript:progressbar()">Upload files</button>
            </div>
          </form>

          <!-- Drop Zone -->
          <h4>Or drag and drop files below</h4>
          <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
          </div>

            <!--Desciption box  -->
          <h4>Description for the video</h4>
            <div class="form-group" id="description-box">
                <!--<label for="comment">Comment:</label>-->
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>

          <!-- Progress Bar -->
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
              <span class="sr-only">60% Complete</span>
            </div>
          </div>
          <!-- <progress value="22" max="100"></progress> -->
</body>
{% end %}
