{% extends "index_hod.html" %}

{% block content %}
<div class="container">
            <form class="form-horizontal" role="form" method="post" id="report">
                <h2>Report Form</h2>
                <div class="form-group">
                    <label for="Grade" class="col-sm-3 control-label">Grade</label>
                    <div class="col-sm-9">
                        <input type="text" id="Grade" placeholder="Full Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Subject" class="col-sm-3 control-label">Subject</label>
                    <div class="col-sm-9">
                        <input type="text" id="Subject" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Chapter" class="col-sm-3 control-label">Chapter</label>
                    <div class="col-sm-9">
                        <input type="text" id="Chapter" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Module" class="col-sm-3 control-label">Module(No and Name)</label>
                    <div class="col-sm-9">
                        <input type="text" id="Module" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Component</label>
                    <div class="col-sm-9">
                        <input type="text" id="birthDate" class="form-control">
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="country" class="col-sm-3 control-label">Country</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select id="country" class="form-control">-->
                            <!--<option>Afghanistan</option>-->
                            <!--<option>Bahamas</option>-->
                            <!--<option>Cambodia</option>-->
                            <!--<option>Denmark</option>-->
                            <!--<option>Ecuador</option>-->
                            <!--<option>Fiji</option>-->
                            <!--<option>Gabon</option>-->
                            <!--<option>Haiti</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash; /.form-group &ndash;&gt;-->
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <h3>Please make sure that the following points are covered</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            1. All concepts are covered.<br>
                            2. Concept Map.<br>
                            3. No factual error.<br>
                            4. Unambiguous.<br>
                            5. All topics are identified.<br>
                            6. All terms are identified.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">All the points are covered
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group container-fluid" >
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Submit report</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
{% end %}