<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: Text editor for user to write content.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Added animation to text-area and buttons. -->

{% extends "index_user.html" %}

{% block content %}

<title>Content Editor</title>
<form id="fkfrm" class=myFrom action="editor" method="post">
  {% if 'content' in content['tasks'][-1].keys() %}

    {% if content['tasks'][-1]['status'] in ['Under Review', 'Completed'] %}
      <p>The task is {{content['tasks'][-1]['status']}}.</p>

    {% elif content['tasks'][-1]['status']=="re-assigned" %}
      <textarea class="myArea" id="myEditor" name="editor1">{{content['tasks'][-1]['content']}}</textarea>

      <textarea class="myArea" id="myEditor" name="get_chapter" style="display:none;">{{content['tasks'][-1]['chapter']}}</textarea>

      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1">
            <button id="animate" class="btn btn-secondary fa animated bounce" type="submit" name='draft'
            value='draft'>Save as draft</button>
          </div>
          <div class="col-sm-1 col-sm-push-1">
            <button id="animate" class="btn btn-primary fa fa-plane animated shake" type="submit" name='final'
            value='final'> Final submission</button>
            <!-- <a href="javascript:void(0);" class="btn btn-primary fa fa-plane"
            name='final' value='final' > Final submission</a> -->
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container-fluid alert alert-danger">
        <label>Remarks by the Hod</label>
        <p>{{content['tasks'][-1]['remarks']}}</p>
      </div>

    {% else %}
      <textarea class="myArea" id="myEditor" name="editor1">{{content['tasks'][-1]['content']}}</textarea>
      <textarea class="myArea" id="myEditor" name="get_chapter" style="display:none;">{{content['tasks'][-1]['chapter']}}</textarea>
      <textarea class="myArea" id="myEditor" name="get_position" style="display:none;">{{len(content['tasks'])}}</textarea>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1">
            <button id="animate" class="btn btn-secondary fa animated bounce" type="submit" name='draft'
            value='draft'>Save as draft</button>
          </div>
          <div class="col-sm-1 col-sm-push-1">
            <button id="animate" class="btn btn-primary fa fa-plane animated shake" type="submit" name='final'
            value='final'> Final submission</button>
            <!-- <a href="javascript:void(0);" class="btn btn-primary fa fa-plane"
            name='final' value='final' > Final submission</a> -->
          </div>
        </div>
      </div>

    {% end %}

  {% else %}
    <textarea class="myArea" id="myEditor" name="editor1" readonly>Write content here!</textarea>
    <textarea class="myArea" id="myEditor" name="get_chapter" style="display:none;">{{content['tasks'][-1]['chapter']}}</textarea>
    <textarea class="myArea" id="myEditor" name="get_position" style="display:none;">{{len(content['tasks'])}}</textarea>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
          <button id="animate" class="btn btn-secondary fa animated bounce" type="submit" name='draft'
          value='draft'>Save as draft</button>
        </div>
        <div class="col-sm-1 col-sm-push-1">
          <button id="animate" class="btn btn-primary fa fa-plane animated shake" type="submit" name='final'
          value='final'> Final submission</button>
          <!-- <a href="javascript:void(0);" class="btn btn-primary fa fa-plane"
          name='final' value='final' > Final submission</a> -->
        </div>
      </div>
    </div>

  {% end %}
</form>

{% end %}
        <!-- TODO: making the textarea readonly after the final submission  -->
        <!-- /*<script>
