{% extends "index_user.html" %}

{% block content %}
<title>Content Editor</title>
<form action="editor" method="post">
    {% if content %}
    <textarea id="myEditor" name="editor1">{{content}}</textarea>
    {% else %}
    <textarea id="myEditor" name="editor1">Write content here!</textarea>
    {% end %}
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
          <button class="btn btn-secondary fa" type="submit" name='draft'
          value='draft'>Save as draft</button>
        </div>
        <div class="col-sm-1 col-sm-push-1">
          <button class="btn btn-primary fa fa-plane" type="submit"
          name='final' value='final' onclick='makeReadOnly()'> Final submission</button>
        </div>
      </div>
    </div>
</form>
{% end %}
        <!-- TODO: making the textarea readonly after the final submission  -->
        <!-- /*<script>
