<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <style>
	a.test {
	font-weight: bold;
	}
    </style>
</head>
<body>
    <a href="http://jquery.com/">jQuery</a>
    <button class="button" type="submit">Final submission</button>
    <script src="{{static_url('scripts/jquery.js')}}"></script>
    <script>
 
    $( document ).ready(function() {
        $( "a" ).click(function( event ) {
            alert( "The link will no longer take you to jquery.com" );
	    event.preventDefault();
	    $(this).animate();
        });
	$( "button" ).click(function( event ) {
		$.getJSON( "{{static_url('test.py')}}", function( data ) {
			console.log( data );
		});
	});
    });
 
    </script>
</body>
</html>
