<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{static_url('css/login.css')}}">
    <script type="text/javascript" src="{{static_url('scripts/main.js')}}"></script>
</head>

	<title>Your Images</title>
	<body>
        {% if doc_id %}
            <br><br>
            {% for doc in doc_id %}
                <iframe src="http://docs.google.com/gview?url={{doc}}&embedded=true" style="width:780px; height:800px;" frameborder="0"></iframe>
            {% end %}
        {% else %}
        You haven't uploaded any files yet. <a href="/upload_image">Upload a file now.</a>
        {% end %}
	</body>

</html>
