<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: HTML view for User Files, i.e pdfs.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Added a message if the user hasn't uploaded any file yet. -->

{% extends "index_user.html" %}

{% block content %}

	<title>Your Files</title>
    {% if doc_id %}
        <br><br>
        {% for doc in doc_id %}
            <iframe src="http://docs.google.com/gview?url={{doc}}&embedded=true" style="width:780px; height:800px;" frameborder="0"></iframe>
        {% end %}
    {% else %}
    You haven't uploaded any files yet. <a href="/upload_image">Upload a file now.</a>
    {% end %}
{% end %}
