<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: HTML view for User task status. If the user task is unser review, user
can't edit the content, thus a message to redirect user to the dashboard.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Added animation on dashboard link, doesn't work properly though. -->

{% extends "index_user.html" %}

{% block content %}

Your task is under review. To view your task status go to the <a id="testHinge"
 class="test" href="/dashboard">Dashboard</a>

{% end %}
