<!-- Author: Shivam Mutreja
Date: 18/10/2016
Purpose: HTML view for user to see the uploaded videos.

Revision:
	Author: Shivam Mutreja
	Date: 20/10/2016
	Purpose: Added a message if there is a playback error or it takes time to play video. -->

{% extends "index_user.html" %}

{% block content %}

    <title>Your Videos</title>
    {% if video_id %}
    Please refresh the page if there is any playback error!
    <br><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id}}" frameborder="0" allowfullscreen></iframe>
    {% else %}
    You haven't uploaded any videos yet. <a href="/upload_video">Upload a video now.</a>
    {% end %}
{% end %}
