<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{static_url('css/login.css')}}">
    <script type="text/javascript" src="{{static_url('scripts/main.js')}}"></script>
    <script src="https://cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>
</head>

	<title>Your Videos</title>
	<body>
        {% if video_id %}
        Please refresh the page if there is any playback error!
        <br><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video_id}}" frameborder="0" allowfullscreen></iframe>
        {% else %}
        You haven't uploaded any videos yet. <a href="/upload_video">Upload a video now.</a>
        {% end %}
	</body>

</html>
